*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
AnimeBinge V2/app/src/main/java/com/animebinge/rally0565/animebinge/DatabaseHelper.java
